[Unit]
Description=cthulhu manager
After=network.target

[Service]
Restart=always
StandardOutput=syslog
StandardError=syslog
ExecStart=/usr/bin/cthulhu-manager
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target